.btn-primary {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #333333;
    font-weight: 600;
    font-size: 12pt;
    background-color: #f4ce14;
    border: 1px solid #f4ce14;
}

.btn-primary:hover {
    background-color: #495e57;
    color: #ffffff;
}