nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    margin: 0 30px;
    padding-bottom: 3px;
    position: relative;
}

nav ul li a {
    color: rgb(73, 94, 87);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 0;
}

nav ul li a:hover::after, nav ul li a.active::after {
    width: 100%;
    transform: scaleX(1.5);
    background-color: rgb(244, 206, 21);
}

.hamburger-menu {
    display: none;
}

@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        position: absolute;
        left: 0;
        text-align: left;
        background-color: #fbdabb;
        top: 60px;
    }

    nav ul li {
        margin: 0 10px;
        padding: 10px;
        border-bottom: 1px solid rgba(73, 94, 87, 0.2);
    }

    nav ul.is-open {
        display: block;
    }

    nav ul.is-closed {
        display: none;
    }

    nav ul li:hover::after {
        transform: scaleX(0.5);
    }

    .logo-container {
        width: 60%;
    }

    .logo {
        height: 50px;
    }

    .hamburger-menu {
        position: relative;
        display: block;
        z-index: 10;
    }
}