nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    margin: 0 30px;
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    bottom: 0;
}

nav ul li:hover::after {
    width: 100%;
    transform: scaleX(1.5);
    background-color: #f4ce15;
}

nav ul li a {
    color: #495e57;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
